<div class="container">
  <h1>Add movie to list</h1>
  <%= simple_form_for [@list, @bookmark] do |f| %>
    <%= f.association :movie %>
    <%= f.input :comment %>
    <%= f.button :submit, class: "btn btn-primary" %>
  <% end %>
  <br>
  <%= link_to "Back to list", list_path(@list) %>
</div>
